.block {
  display: flex;
  align-items: center;
  border: 2px solid #00579b;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;

}

.block:hover {
  border: 2px solid #00819b;
  background-color: #dfecf4;
}

.block__logo {
  display: flex;
  flex-direction: column;
}
.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
button {
  margin-top: 5px;
  cursor: pointer;
}

.block__info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
