.nav {
  grid-area: n;
  background-color: #f1f3f5;

}

.item__link {
 padding: 10px;
}

.item__link:hover {
  background-color: #00579b;
  color: white;
}

.item__link a.active {
  background-color: #00579b;
  color: white;
}

.item__link:active {
  background-color: #0a3d53;
  color: white;
}

a {
  text-decoration: none;
  color: dimgrey;
}

a:hover {
  color: white;
}


.links {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.friend__logo {
  text-align: center;
}
